body {
  background-color: #f3f5f8;
  margin: 0; }

.container {
  display: flex;
  width: 90%;
  height: 100vh;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center; }

.type1 {
  min-width: 33%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .type1 * {
    position: absolute;
    border-radius: 50%; }
  .type1 .ring-1 {
    width: 80px;
    height: 80px;
    border: solid 3px #fc7753;
    transform: rotate(45deg);
    -webkit-clip-path: polygon(50% 50%, 80% 0, 110% 0, 110% 110%, 0 110%, 0 0, 20% 0);
    clip-path: polygon(50% 50%, 80% 0, 110% 0, 110% 110%, 0 110%, 0 0, 20% 0);
    animation: rotate1 2s 0s linear infinite; }

@keyframes rotate1 {
  to {
    transform: rotate(405deg); } }
  .type1 .ring-2 {
    width: 56px;
    height: 56px;
    border: solid 3px #4ecdc4;
    -webkit-clip-path: polygon(50% 50%, 100% 0, 110% 0, 110% 110%, 0 110%, 0 0, 0% 0);
    clip-path: polygon(50% 50%, 100% 0, 110% 0, 110% 110%, 0 110%, 0 0, 0% 0);
    transform: rotate(15deg);
    animation: rotate2 1.5s 0s linear infinite; }

@keyframes rotate2 {
  to {
    transform: rotate(375deg); } }
  .type1 .ring-3 {
    width: 32px;
    height: 32px;
    border: solid 3px #312d45;
    -webkit-clip-path: polygon(50% 50%, 120% 0, 110% 0, 110% 110%, 0 110%, 0 0, -20% 0);
    clip-path: polygon(50% 50%, 120% 0, 110% 0, 110% 110%, 0 110%, 0 0, -20% 0);
    transform: rotate(-45deg);
    animation: rotate3 1s 0s linear infinite; }

@keyframes rotate3 {
  to {
    transform: rotate(315deg); } }
  .type1 .ring-4 {
    width: 12px;
    height: 12px;
    border: solid 3px #e84855;
    -webkit-clip-path: polygon(50% 50%, 130% 0, 110% 0, 110% 110%, 0 110%, 0 0, -30% 0);
    clip-path: polygon(50% 50%, 130% 0, 110% 0, 110% 110%, 0 110%, 0 0, -30% 0);
    transform: rotate(-15deg);
    animation: rotate4 2s 0s linear infinite; }

@keyframes rotate4 {
  to {
    transform: rotate(345deg); } }

.type2 {
  min-width: 33%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .type2 * {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .type2 .dot-1 {
    transform: rotate(-30deg);
    animation: rotatedot1 1.4s 0.6s ease-in-out infinite; }

@keyframes rotatedot1 {
  to {
    transform: rotate(330deg); } }
    .type2 .dot-1:after {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #fc7753;
      top: 0; }
  .type2 .dot-2 {
    transform: rotate(-8deg);
    animation: rotatedot2 1.6s 0.4s ease-in-out infinite; }

@keyframes rotatedot2 {
  to {
    transform: rotate(352deg); } }
    .type2 .dot-2:after {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #312d45;
      top: 0; }
  .type2 .dot-3 {
    transform: rotate(14deg);
    animation: rotatedot3 1.8s 0.2s ease-in-out infinite; }

@keyframes rotatedot3 {
  to {
    transform: rotate(374deg); } }
    .type2 .dot-3:after {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #e84855;
      top: 0; }
  .type2 .dot-4 {
    transform: rotate(36deg);
    animation: rotatedot4 2s 0s ease-in-out infinite; }

@keyframes rotatedot4 {
  to {
    transform: rotate(396deg); } }
    .type2 .dot-4:after {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: #4ecdc4;
      top: 0; }

.type3 {
  min-width: 33%;
  width: 80px;
  height: 80px;
  animation: rotatefan 2s 0s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes rotatefan {
  to {
    transform: rotate(360deg); } }
  .type3 * {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(70% 0, 30% 0, 50% 50%);
    clip-path: polygon(70% 0, 30% 0, 50% 50%); }
  .type3 .fan-1 {
    transform: rotate(0deg);
    background-color: #fc7753; }
  .type3 .fan-2 {
    transform: rotate(90deg);
    background-color: #4ecdc4; }
  .type3 .fan-3 {
    transform: rotate(180deg);
    background-color: #e84855; }
  .type3 .fan-4 {
    transform: rotate(270deg);
    background-color: #312d45; }
